<html>
    <head>
        <style>
            body {
                background-color: lightgreen;
            }
        </style>
    </head>
    <body>
        <h1>
            You have requested the student name : <%= name %>
            <p>id : <%= id %></p>
        </h1>
    </body>
</html>